<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="/assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

  <!-- Top content -->
  <div class="top-content">

    <!-- Top menu -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header" style="color:white;">
          Project Management System
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/profile">Profile</a></li>
            <% if (isAdmin) { %>
              <li><a href="/users">Users</a><li>
                <% } %>
                <li><a class="btn btn-link-3" href="/signout">Sign Out</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Javascript -->
        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.backstretch.min.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/retina-1.1.0.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
      </div>

      <div class="container">
        <!-- CONTENT STARTS HERE -->
        <h1 style="text-align:left;">Add Users</h1>
        <form method="post" action="/users/add">

          <div class="form-group row">
            <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" id="first_name" name="first_name" placeholder="First Name" class="form-control" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" id="last_name" name="last_name" placeholder="Last Name" class="form-control" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" id="email" name="email" placeholder="email@abc.com" class="form-control" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
            </div>
          </div>

          <fieldset class="form-group">
            <div class="row">
              <label for="position" class="col-form-label col-sm-2 pt-0">Position</label>
              <div class="col-sm-10">
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="position" value="manager">
                  <label class="form-check-label">Manager</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="position" value="developer">
                  <label class="form-check-label">Software Engineer</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="position" value="qa">
                  <label class="form-check-label">Quality Assurance</label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="row">
              <label for="status" class="col-form-label col-sm-2 pt-0">Working Status</label>
              <div class="col-sm-10">
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="status" value="fulltime">
                  <label class="form-check-label">Full Time</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="status" value="parttime">
                  <label class="form-check-label">Part Time</label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="row">
              <label for="isadmin" class="col-form-label col-sm-2 pt-0">User Status</label>
              <div class="col-sm-10">
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="isadmin" value="admin">
                  <label class="form-check-label">Admin</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="isadmin" value="user">
                  <label class="form-check-label">User</label>
                </div>
              </div>
            </div>
          </fieldset>

          <button type="submit" class="btn btn-primary">Save</button>&nbsp;
          <a href="/users" class="btn btn-warning">Cancel</a>

        </form>

      </div>

    </body>

    </html>
